</body>

<footer>
    ©️ Copyright <%= new Date().getFullYear() %>
</footer>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
<script src="/js/app.js"></script>

</html>
