@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --card-border-color: rgb(42, 42, 42);
    --card-hoverBorder-color: rgb(250, 224, 74);
}

* {
    margin: 0;
    padding: 0;
    font-family: Poppins;
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(
        royalblue 30%,
        rgb(52, 52, 250),
        blue
    );
    overflow-x: hidden;

}

.container{
    padding: 10px;
    width: 100vw;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 300px auto auto auto;
}

.cards {
    display: grid;
    height: 700px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 50px;
    width: 1100px;

}

.card{
    background-color: whitesmoke;
    border-radius: 15px;
    box-shadow: 0px 0px 15px var(--card-border-color);
    border: 1px solid black;
}

.card1{
    grid-column-end: span 2;
}

.card2{
    grid-row-end: span 2;
}

.card:hover{
    transition: border, box-shadow 1s ease-in-out;
    border: 4px solid black;
    box-shadow: none;
}

.search{
    border-radius: 50px;
    font-size: 18px;
    margin: 10px auto;
    padding: 1em;
    background-color: rgb(229, 229, 229);
    border:none;
    width: 80%;
    box-sizing: border-box;
}

.card1{
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: left;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
}

.loc-name{
    font-size: 24px;
    text-align: left;
    font-weight: bolder;
    width: 90%;
}


.search:active {
    border: 1px solid black;
}

.weather{
    width: 150px;
    height: 150px;
    position: relative;
}

.tempr {
    font-size: 108px;
}

.tempr::after{
    content: "";
    display: inline-block;
    position: relative;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    border: 1px solid black;
    top: -60px;
    left: -30px;
}

.submit{
    border: 2px solid green;
}

.search-button{

    border-radius: 50%;
    padding: 1em;
    height: 54px;
    width: 54px;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

}

.search-button:hover{
    background-color: rgb(28, 230, 28);
    transition: background-color 0.5s ease-in-out;
}

.cloud{
    background-color: transparent;
}

.temprature{
    display: inline-block;
}

#cloud1{
    position: absolute;
    top: -348px;
    left: -30px;
}

#cloud2{
    position: absolute;
    top: -402px;
    left: 384px;
}

#cloud3{
    position: absolute;
    top: -348px;
    left: 952px;
}

#cloud4{
    position: absolute;
    top: -488px;
    left: 1100px;
}

.info{
    display: flex;
}

@media (max-width: 1200px) {
    .cards{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        height: 900px;
        width: calc(100vw - 50px);
        margin: 300px auto;
    }

    .card1{
        grid-column-end: span 1;
    }

    .card2{
        grid-row-end: span 1;
    }

    .search{
        font-size: 18px;
    }

    .container{
        height: 900px;
    }

}

@media (max-width: 600px){
    .cards{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        height: 1200px;
        width: calc(100vw - 20px);
    }

    .container{
        height: 1200px;
    }
}